@import url("style.css");
h1{color:rgb(16, 8, 58)}

dl{background: #d2f703;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px 40px ;
    border: 5px solid #8126eb;
    }
    div{
        width:50% ;
        padding: 30px;
        background: #1adf93 ;
        margin: 0 auto;
        -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0);
    }